<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-a1yj3t3rwykgqscg.us.auth0.com</string>
	<key>ClientId</key>
	<string>Rq4ki2QTjuBF7kJDIJlk2uI2mTmhzmiW</string>
</dict>
</plist>
